{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Those who criticized me don't understand anything about fried chicken and coffee.</p>
            <p>Japanese children pass down the nursery rhyme: <i>"Fried chicken with ChinSu sauce, coffee poured high in an iced glass, it's the day Cong Phuong finishes frying chicken."</i>
                <br>
                "<i>Ga kia ai ran ma gion</i>
                <br>
                <i>Cam kia ai bo ma mon ca dao</i>
                <br>
                <i>Mon dao thi da lam sao</i>
                <br>
                <i>Chay ra tap hoa mua bao thuoc ve</i>
                <br>
                <i>Hai nam xuat ngoai xa que</i>
                <br>
                <i>Bo cam, xach nuoc, ca phe, ban ga."</i>
            </p>
        </div>
    </div>
</div>
{% endblock content %}